<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">CPF</th>
                <th scope="col">Nome</th>
                <th scope="col">Altura</th>
                <th scope="col">Peso</th>
                <th scope="col">IMC</th>
                <th scope="col">Criado em</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let registry of data">
                <td>{{ registry.cpf }}</td>
                <td>{{ registry.name }}</td>
                <td>{{ registry.height }}</td>
                <td>{{ registry.weight }}</td>
                <td>{{ registry.imc }}</td>
                <td>{{ registry.created_at }}</td>
            </tr>
        </tbody>
    </table>
</div>